<div class="weui_msg">
    <div class="weui_icon_area">
        <icon [clazz]="msgConfig.icon"></icon>
    </div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">{{msgConfig.title.name}}</h2>
        <p class="weui_msg_desc" [innerHTML]="msgConfig.title.desc"></p>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area" *ngFor="let btn of msgConfig.btn;let i = index;">
            <btn [clazz]="btn.btnClass" [btnName]="btn.btnName" (click)="doClick(i)"></btn>
        </p>
    </div>
    <div class="weui_extra_area">
        <a href="{{msgConfig.detail.href}}" [innerHTML]="msgConfig.detail.name"></a>
    </div>
</div>